apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.petclinic.replicaCount }}
  selector:
    matchLabels:
      app: petclinic
  template:
    metadata:
      labels:
        app: petclinic
    spec:
      containers:
        - name: petclinic
          image: "{{ .Values.petclinic.image }}:{{ .Values.petclinic.tag }}"
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:sqlserver://mssql:1433;databaseName={{ .Values.mssql.database }}"
            - name: SPRING_DATASOURCE_USERNAME
              value: "sa"
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mssql-secret
                  key: SA_PASSWORD
